* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo img {
    height: 5em;
    width: 10em;
  }
  
  body {
    background-color: #fff;
    margin: 0;
  }
  
  header {
    height: 5%;
  }
  
  .navbar {
    align-content: center;
    background-color: #61616b;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    padding-bottom: 5px;
    width: 100%;
  }
  
  .nav-menu {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, auto);
    justify-content: end;
    list-style: none;
    margin-right: 2rem;
    text-align: center;
  }
  
  .nav-item {
    height: 100%;
  }
  
  .nav-item a {
    font-size: 100%;
  }
  
  .nav-links {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100%;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  
  .nav-item:hover {
    border-bottom: 4px solid #33ffd3;
    transition: all 0.2s ease-out;
  }

  .outer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    height: 90%;
    width: 90%;
    background-color: #f1f1f1;
    border-radius: 30px;
  }

  .inner-container{
      display: flex;
      flex-direction: row;
      padding: 3%;
  }

  .big-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  #showImage{
      width: 600px;
      height: 600px;
  }

  .product-description{
    width: 50%;
    height: 100%;
    align-self: center;
  }

  .product-description #Title{
      font-size: 30pt;
      font-weight: bold;
  }

  .product-description #Description{
      font-size: 15pt;
      color: #61616b;
      padding-top: 3%;
      text-align: justify;
      padding-bottom: 3%;
  }

  #Point{
    padding-left: 10%;
    padding-bottom: 3%;
  }

  #Price{
    display: flex;
    justify-content: center;
    font-size: 20pt;
    font-weight: bold;
  }

  #Price s{
    color: red;
    margin-right: 0.5em;
  }

  #Rating{
    padding: 3%;
    display: flex;
    justify-content: center;
  }

  #Rating img{
    width: 100px;
    height: 75px;
  }

  .small-picture-outer{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      padding: 3%;
  }

  .small-picture{
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
  }

  .small-picture .image{
      display: none;
      cursor: pointer;
      width: 300px;
      height: 300px;
      padding: 1%;
  }

  .small-picture .active{
    display: flex;
  }

  #arrowleft {
    cursor: pointer;
    height: 50px;
    margin-right: -45;
    width: 50px;
    z-index: 100;
  }
  
  #arrowright {
    cursor: pointer;
    height: 50px;
    margin-left: -45;
    width: 50px;
    z-index: 100;
  }