* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.desc-row{
  display: flex;
  flex-direction: row;
}

.desc-row div:first-of-type{
  font-style: oblique;
  font-weight: bold;
  padding-right: .5rem ;
}

.desc-row div a{
  color: blue;
  height: 0px;
  padding-left: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6.25em;
}

.logo img {
  height: 5em;
  width: 10em;
}

body {
  background-color: #fff;
  margin: 0;
}

header {
  height: 5%;
}

.navbar {
  align-content: center;
  background-color: #61616b;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  padding-bottom: 5px;
  width: 100%;
}

.navigation {
  padding-top: 1em;
}

#burgermenu {
  display: none;
  float: right;
  height: 30px;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  margin-right: 3em;
  /* width: 30px; */
}

ul {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, auto);
  justify-content: end;
  list-style: none;
  margin-right: 2rem;
  text-align: center;
  height: 40px;
}

li {
  align-content: center;
  height: 100%;
}

li a {
  font-size: 100%;
}

a {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

li:hover {
  border-bottom: 4px solid #33ffd3;
  transition: all 0.2s ease-out;
}

.judul {
  display: flex;
  justify-content: center;
  font-size: x-large;
  padding-top: 2rem;
}

.middle-container {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  margin: 150px auto 150px auto;
  border-radius: 30px;
  height: 601px;
  width: 90%;
}

.middle-container-contact-us {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px auto 0px auto;
  padding-right: 3rem;
  padding-left: 3rem;
  border-radius: 30px;
  height: 601px;
  width: 75%;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map div{
  padding-top: 10px;
}

.map-size img {
  height: 31rem;
  width: 31rem;
  outline-style: solid;
  outline-color: #61616b;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.map-size img:hover{
  outline-color: skyblue;
  animation: unset;
}

.map-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.map-description div b{
  font-style: normal;
}

.map-description h2 {
  padding-bottom: 1rem;
}

.map-description p {
  padding-right: 4rem;
}

@media only screen and (max-width: 1100px) {
  .middle-container-contact-us {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 30px;
    height: 701px;
    width: 75%;
    padding-bottom: 2rem;
  }
  .map-size img {
    height: 31em;
    width: 31em;
    outline-style: solid;
    outline-color: #61616b;
    margin-bottom: 1.5rem;
  }
  .map-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0rem;
  }
  .map-description p {
    text-align: center;
    padding-left: 2rem;
    padding-right: 5rem;
  }
  .map-size img {
    height: 31em;
    width: 31em;
    outline-style: solid;
    outline-color: #61616b;
    margin-right: 0px;
  }
  #burgermenu {
    display: block;
  }

  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  ul li a {
    font-size: 20px;
    justify-content: center;
  }

  li {
    height: 5em;
    margin-top: 1em;
    justify-content: center;
    width: 60%;
  }
  @media (hover: hover) {
    li:hover {
      background: #33ffd3;
      border-radius: 180px;
      transition: all 0.5s ease-in-out;
    }

    li a:hover{
      color: #000000;
      font-weight: bold;
      transition: all 0.1s ease-in;
    }
  }
}
